<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wf.xutils3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.wf.xutils3.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SQLiteActivity"/>
        <activity android:name=".LoadPicActivity"/>

        <!-- 下载apk服务 -->
        <service android:name=".service.UploadApkService">
            <intent-filter>
                <action android:name="com.down.test.uploadapkservice"/>
            </intent-filter>
        </service>
    </application>

</manifest>
