<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wf.example">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".fragment.StaticFragmentActivity"/>
        <activity android:name=".fragment.DynamicFragment1Activity"/>
        <activity android:name=".fragment.DynamicFragment2Activity"/>

        <!-- SQL数据库操作-->
        <activity android:name=".sqlite.SQLiteActivity"/>

        <!-- 选项卡 -->
        <activity android:name=".tabhost.CustTabActivity"/>

        <!-- CoordinatorLayout+Behavior -->
        <activity android:name=".behavior.ScrollingActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
